{% extends 'layout.html.twig' %}

{% block content %}
    <div class="cupcake-container">
    <h1>Your beautiful cupcake</h1>
    <div class="cupcake">
        <img src="{{ cupcake.0.url ?? 'http://images.innoveduc.fr/php_parcours/cp2/donut.png' }}" alt="accessory">
        <div class="cream">
            <div class="cream-1" style="background-color: {{ cupcake.0.color1 ?? 'var(--default-cream-color)' }};">
            </div>
            <div class="cream-2" style="background-color: {{ cupcake.0.color2 ?? 'var(--default-cream-color)' }};">
            </div>
            <div class="cream-3" style="background-color: {{ cupcake.0.color3 ?? 'var(--default-cream-color)' }};">
            </div>
        </div>
        <div class="bottom">
            <div class="bottom-in">
                <div class="face">
                    <div class="eyes">
                        <div class="left-eye"></div>
                        <div class="right-eye"></div>
                    </div>
                    <div class="mouth"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="cupcake-name">{{ cupcake.0.name }}</div>
    <a href="/cupcake/list">BACK</a>
</div>
{% endblock %}
